nav {
    font-size: 0.8em;
    padding-top: .25em;
}

nav .home li label {
    display: inline-block !important;
}

nav ul li i {
    margin: 0 0.5em 0 0;
}

nav .home {
    padding-top: 0 !important;
    min-width: 82%;
}

nav .social {
    vertical-align: middle;
    margin-right: 0.10em;
    top: 1.25em;
    transform: scale(0.9);
}

nav .social li {
    margin: 0;
    margin-top: 0;
}

nav .social li i {
    transform: scale(5%);
}

.logo-wrapper {
    margin: 15% auto;
}

.header-content {
    margin-top: 0px;
    background-position: top center;
    background-size: cover;
}

.header-content .nav-menu {
    display: none;
}